<?xml version="1.0" encoding="UTF-8"?>
<suite name="APITest Suite">
    <test name="API Tests">
        <classes>
            <class name="com.apitest.APITest"/>
             <class name="com.apitest.APITestEDA"/>
            
            <class name="com.apitest.APITestMgi"/> 
       
      </classes>
    </test>
</suite>
